@{
    ViewData["Title"] = "Company List";
}


<div class="container my-5 pb-3">
    <div class="d-flex flex-column flex-md-row pb-3">
        <div class="col-md-6">
            <h2 class="text-primary">Company List</h2>
        </div>
        <div class="col-md-6 text-md-end">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary rounded">
                <i class="bi bi-plus-circle"></i> Create New Company
            </a>
        </div>
    </div>              

    <table id="tblData" class="table table-bordered table-striped my-2" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/company.js"></script>
}
